body{
    background-color: lightsteelblue;
}
h1 {
    text-align: center;
    font-family: 'Bruno Ace SC', cursive;
  }
h2 {
    font-size: 16px;
    font-family: 'Bruno Ace SC', cursive;
    color: navy;
  }
p {
    color: navy; 
    font-family: 'Josefin Sans', sans-serif;
  }
h2{
    color: midnightblue;
  }
.fondo1 {
        background-color: paleturquoise;
        background-image: background-imagen: url(BIBLIAA.png);
        }
.fondo2 {
            background-color:  skyblue;
            
        }
.fondo3 {
            background-color:  powderblue;
        }
.fondo4 {
            background-color: rgb(31, 180, 199);
        }
    